name: covector status
on: [pull_request]

jobs:
  covector:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for use of git history
      - uses: volta-cli/action@v4
      - name: covector status
        uses: jbolda/covector/packages/action@covector-v0
        id: covector
        with:
          token: ${{ secrets.FRONTSIDEJACK_GITHUB_TOKEN }}
          command: "status"
          comment: true
