name: covector status
on: [pull_request]

jobs:
  covector:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for use of git history
      - uses: volta-cli/action@v4
      # this is required when running the ./.scripts/checkIfPublished.mjs
      - name: Install Node.js dependencies
        run: npm ci
      - name: covector status
        uses: jbolda/covector/packages/action@main
        id: covector
        with:
          token: ${{ secrets.FRONTSIDEJACK_GITHUB_TOKEN }}
          command: "status"
